/* Estilos globais */
body {
    font-family: Arial, sans-serif;  /*define fonte e zera margens */
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;   /* Cor do fundo barra de navegação e das letras*/
    color: white;
}

/* Remove a estilização da lista e zera o preenchimento */
nav ul {
    list-style-type: none;
    padding: 0;
}

/* Alinha os itens da lista horizontalmente e adiciona espaço à direita */
nav li {
    display: inline;
    margin-right: 20px;
}
/* Estiliza os links na barra de navegação */
nav a {
    text-decoration: none; /* remove sublinhado dos links, e cor do texto dos links*/
    color: white;
}

/* Estilos para as seções */
section {
    padding: 20px; /* Espaçamento interno em todas as seções */
}

section h1 {
    font-size: 24px; /* Tamanho da fonte para os títulos das seções */
    margin-bottom: 10px; /* Espaçamento inferior para os títulos das seções */
}

/* Estilos para o formulário de contato */
form {
    max-width: 400px;
    margin: 0 auto;
}

label,
input,
textarea {
    display: block;
    margin-bottom: 10px;
}

button {
    background-color: #333;  /* cor dos botões na parte de cima */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}



#sobre-mim {
    text-align: center; /* Centraliza o texto horizontalmente */
}

.conteudo-centralizado {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza verticalmente */
    text-align: center; /* Centraliza o texto horizontalmente */
}

#foto-curriculum {
    max-width: 200px; /* Defina a largura máxima desejada */
    height: auto; /* Isso manterá a proporção da imagem */
    border-radius: 50%; /*mudar a imagem para redonda */
}

body {
    background-color: #3498db; /* cor de fundo */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
